<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/via.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/flowpilots.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/bpost.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-3 col-sm-6">
                    <a href="#">
                        <img src="img/logos/bemobile.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-5 col-sm-6">
                    <a href="#">
                        <img src="img/logos/eurostation.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-5 col-sm-6">
                    <a href="#">
                        <img src="img/logos/bwaste.jpg" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-5 col-sm-6">
                    <a href="http://www.fastercom.ca/">
                        <img src="img/logos/fastercom.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-5 col-sm-6">
                    <a href="http://www.ferranti.be/en/frontforce-integrated-emergency-support/">
                        <img src="img/logos/frontforce.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
                <div class="col-md-5 col-sm-6">
                    <a href="https://geo6.be/">
                        <img src="img/logos/geo6.png" class="img-responsive img-centered" alt="">
                    </a>
                </div>
            </div>
        </div>
    </aside>