  <footer>
      <div class="container" style="text-align: left;">
        <div class="row">
          <div class="footer-block col-sm-6">
            <div class="region region-footer-first">
  <div id="block-block-7" class="block block-block">

        <h3>Open-source &amp; commercially supported</h3>

  <div class="content">
<p>Anyways B.V.B.A.</p>
Thor Park 8300<br>
3600 Genk<br>
Belgium<br>
BE 0840.395.429<br>
    
<p>SharpSoftware</p>
Pastorijstraat 63<br>
2060 Antwerpen<br>
Belgium<br>
BE 0840.395.429<br>
 </div>
  
</div> <!-- /.block -->
</div>
 <!-- /.region -->
          </div>                    <div class="footer-block col-sm-6">
            <div class="region region-footer-third">
  <div id="block-block-14" class="block block-block">

        <h3>OpenStreetMap</h3>

  <div class="content">
    <p>Itinero was built using <a href="https://www.openstreetmap.org/">OpenStreetMap</a></p>
    <p>All maps on this website are <a href="https://www.openstreetmap.org/copyright">© OpenStreetMap contributors</a>. OpenStreetMap data is available under the <a href="https://wiki.openstreetmap.org/wiki/Open_Database_License">ODbL</a>.</p>
  </div>

</div> <!-- /.block -->
</div>
 <!-- /.region -->
          </div>                  </div>
      </div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
