<!DOCTYPE html>
<html>

    {% include head.html %}
    {% include header_small.html %}

	

    <body id="page-top" class="index">
	<section class="wrapper style1">
		<div class="container">

<!-- 					<header class="minor">
						<h3>Our latest news</h3>
					</header> -->
					
						<div class="row post">
							<a href="{{ site.baseurl }}{{ post.url }}"><h1>{{ page.title }}</h1></a>
							<p class="post-meta">Posted {{ page.date | date_to_string }}, By {{ page.author }}</p>
							<img style="width: 100%; max-width: 400px; max-height: 500px; margin-top: 20px; margin-bottom: 20px;" 
								src="{{ site.baseurl }}/img/{{ page.featured }}" alt="">
							{{ content }}
						</div>
			
		</div>
	</section>

    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>