<!DOCTYPE html>
<html>

    {% include head.html %}
    {% include header_small.html %}


    <body id="page-top" class="index">
	<section class="wrapper style1">
		<div class="container">

			<section>
				<div class="10u -1u">
<!-- 					<header class="minor">
						<h3>Our latest news</h3>
					</header> -->
					<div class="style">
						{% for post in site.posts offset: 0 limit: 4 %}
						{% if post.type == 'blog' %}
						<div class="row">
							<div class="col-md-8">
								<a href="{{ site.baseurl }}{{ post.url }}"><h1>{{ post.title }}</h1></a>
								<p style="font-style: italic">Posted {{ post.date | date_to_string }}, By {{ post.author }}</p>
								{{ post.content }}
							</div>
							<div class="col-md-4">
								<img style="width: 100%; max-width: 300px; max-height: 500px;" src="{{ site.baseurl }}/img/{{ post.featured }}" alt="">
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</section>
			
		</div>
	</section>

    {% include contact.html %}
    {% include footer.html %}
    {% include modals.html %}
    {% include js.html %}

    </body>
</html>